@model IEnumerable<ZekterfyDomain.Model.Favorite>

@{
	ViewData["Title"] = "Улюблені";
}

<h1>Улюблені</h1>

<p>
	@Html.ActionLink("Додати до улюблених", "Create", new { userId = ViewBag.UserId })
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Added)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Song)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Song.GenreId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Added)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Song.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Song.GenreId)
				</td>
				<td>
					<div class="btn-group gap-2" role="group">
						<a class="btn btn-sm btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
						<a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
